# Project-specific ignores
backend/__pycache__/
frontend/node_modules/
frontend/build/
*.pdf
*.pyc
.env

combiner.py
current_codebase_state/
venv/
setup_project.py
backend/uploaded_pdfs/
backend/uploaded_pdfs/metadata.json